<div class="reviews">
  <div class="stars clickable" (click)="openMovieInfo()">
    <ion-icon [attr.name]="starNameAttrValue(1)" class="star"></ion-icon>
    <ion-icon [attr.name]="starNameAttrValue(2)" class="star"></ion-icon>
    <ion-icon [attr.name]="starNameAttrValue(3)" class="star"></ion-icon>
    <ion-icon [attr.name]="starNameAttrValue(4)" class="star"></ion-icon>
    <ion-icon [attr.name]="starNameAttrValue(5)" class="star"></ion-icon>
  </div>
  <p class="review-count clickable" (click)="openReviewModal()">{{ reviewCount }}</p>
</div>
