<div class="card-container">
  <div class="poster">
    <img src="{{ posterUrl }}" alt="movie poster">
    <div class="button-container">
      <ion-icon name="add-circle" class="add-button" (click)="addToWatchList(movieTitle)"></ion-icon>
    </div>
    <div class="stars">
      <ion-icon name="star" class="star star-1"></ion-icon>
      <ion-icon name="star" class="star star-1"></ion-icon>
      <ion-icon name="star" class="star star-3"></ion-icon>
      <ion-icon name="star-half" class="star star-4"></ion-icon>
      <ion-icon name="star-outline" class="star star-5"></ion-icon>
    </div>
    <p class="movie-title">{{ movieTitle }}</p>
    <p class="year">{{ releaseYear }}</p>
  </div>
</div>
