.card-container {
    margin: 10px 10px 0 10px;
    position: relative;
}

.button-container {
    position: relative;
}

.movie-title {
    margin: 0px;
    color: #EB5757;
    font-weight: 600;
    font-size: 14px;
}

.year {
    margin: 0px;
    font-size: 12px;
}

.poster-button {
    cursor: pointer;
    position: absolute;
    right: -9px;
    bottom: -3px;
    border-radius: 14px;
    height: 26px;
    width: 26px;
    background-color: white;
    box-shadow: -3px -2px 5px black;
}

.add-button {
    color: #2D9CDB;
}

.remove-button {
    color: #EB5757;
}

.review-count {
    font-size: 11px;
    color: #bbbbbb;
}

.reviews {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    margin-bottom: -13px;
}

.review-link {
    margin: 4px 0;
    font-size: 9pt;
    color: #2D9CDB;
    cursor: pointer;
}

.star {
     color: #F2C94C;
     font-size: 22px;
 }

 .clickable {
     cursor: pointer;
 }
