.poster {
    margin: 10px 10px 0 10px;
    position: relative;
}

.button-container {
    position: relative;
}

.movie-title {
    margin: 0px;
    color: #EB5757;
    font-weight: 600;
    font-size: 14px;
}

.year {
    margin: 0px;
    font-size: 12px;
}

.add-button {
    position: absolute;
    right: -9px;
    bottom: -3px;
    border-radius: 14px;
    height: 26px;
    width: 26px;
    color: #2D9CDB;
    background-color: white;
    box-shadow: -3px -2px 7px black;
}

 .star {
     color: #F2C94C;
     font-size: 22px;
 }
