<div class="card-container">
    <img src="{{ posterUrl }}" alt="movie poster" (click)="openMovieInfo()" class="poster clickable">
    <div class="button-container">
      <ion-icon *ngIf="!added" name="add-circle" class="poster-button add-button" (click)="addToWatchList(movieTitle)"></ion-icon>
      <ion-icon *ngIf="added" name="remove-circle" class="poster-button remove-button" (click)="addToWatchList(movieTitle)"></ion-icon>
    </div>
    <app-precise-star-rating reviewScore={{reviewScore}} (click)="openMovieInfo()"></app-precise-star-rating>
    <p class="review-link" (click)="openReviewModal()">review this movie</p>
    <div (click)="openMovieInfo()" class="clickable">
      <p class="movie-title">{{ movieTitle }}</p>
      <p class="year">{{ releaseYear }}</p>
    </div>
</div>
