ion-icon {
   font-size: 20px;
}

#top-functionality {
   display: flex;
   align-items: flex-end;
}

.top-message {
   font-size: large;
   font-weight: bold;
   color: #4f4f4f;
   padding-left: 24px;
}

.genre {
   color: #acacac;
   margin-left: 24px;
}

.movie-cards-container {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
   grid-gap: .5rem;
   padding: 0 24px;
}