<ion-header>
  <app-header-container></app-header-container>
</ion-header>

<ion-content>
  <app-top-content message="Let's Review Some Titles!"></app-top-content>
  <div class="genre">
    <p>Action</p>
  </div>
  <app-content-separator></app-content-separator>
  <div class="card-row">
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg" movieTitle="Blade Runner 2049" releaseYear="2017"></app-movie-card>
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BODBmOWU2YWMtZGUzZi00YzRhLWJjNDAtYTUwNWVkNDcyZmU5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg" movieTitle="First Blood" releaseYear="1982"></app-movie-card>
  </div>
  
</ion-content>
