<ion-header>
  <app-header-container></app-header-container>
</ion-header>

<ion-content>
  <app-top-content message="Let's Review Some Titles!"></app-top-content>
  <div class="genre">
    <p>Action</p>
  </div>
  <app-content-separator></app-content-separator>
  <div class="movie-cards-container">
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BNzA1Njg4NzYxOV5BMl5BanBnXkFtZTgwODk5NjU3MzI@._V1_SX300.jpg" movieTitle="Blade Runner 2049" releaseYear="2017" rating=4.5></app-movie-card>
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BODBmOWU2YWMtZGUzZi00YzRhLWJjNDAtYTUwNWVkNDcyZmU5XkEyXkFqcGdeQXVyNDk3NzU2MTQ@._V1_SX300.jpg" movieTitle="First Blood" releaseYear="1982" rating=3.5></app-movie-card>
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BZjY5ZjQyMjMtMmEwOC00Nzc2LTllYTItMmU2MzJjNTg1NjY0XkEyXkFqcGdeQXVyNjQ1MTMzMDQ@._V1_SX300.jpg" movieTitle="Drive" releaseYear="2011" rating=5></app-movie-card>
    <app-movie-card posterUrl="https://m.media-amazon.com/images/M/MV5BODFlMmEwMDgtYjhmZi00ZTE5LTk2NWQtMWE1Y2M0NjkzOGYxXkEyXkFqcGdeQXVyNjU0OTQ0OTY@._V1_SX300.jpg" movieTitle="Man on Fire" releaseYear="2004" rating=3></app-movie-card>
  </div>
  
</ion-content>
