// :host {
// }

.content-wrapper {
    padding: 15px 15px 35px 15px;
}

.poster-image {
    box-shadow: 2px 1px 5px rgba(0, 0, 0, .40);
    max-width: 257px;
}

.movie-information {
    color: black;
}

.reviews {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
}

.review-count {
    font-size: 11px;
    color: #bbbbbb;
    margin-left: 7px;
}

.star {
    color: #F2C94C;
    font-size: 30px;
}

.movie-additional-info {
    color: black;
    font-size: 12px;
    margin-bottom: -6px;
}

.external-ratings {
    color: black;
    font-size: 10px;
}

.movie-breakdown {
    color: black;
    font-size: 12px;
    margin-bottom: -6px;
}

.breakdown-title {
    color: #EB5757;
    font-weight: 500;
}

.review-link {
    margin: 4px 0;
    font-size: 9pt;
    color: #2D9CDB;
    cursor: pointer;
}

.clickable {
    cursor: pointer;
}
