<div class="movie-info-header">
  <p class="movie-title">{{ movieData.Title }}</p>
  <ion-icon name="close" class="close-modal-button" (click)="dismiss()"></ion-icon>
</div>
<div class="movie-info-container">
  <img src="{{ movieData.Poster }}" alt="movie poster" class="poster-image">
  <div>
    <div class="reviews" (click)="openMovieInfo()">
      <div class="stars">
        <ion-icon name="star" class="star star-1"></ion-icon>
        <ion-icon name="star" class="star star-1"></ion-icon>
        <ion-icon name="star" class="star star-3"></ion-icon>
        <ion-icon name="star-half" class="star star-4"></ion-icon>
        <ion-icon name="star-outline" class="star star-5"></ion-icon>
      </div>
      <p class="review-count">{{ reviewCount }}</p>
    </div>
    <a href="#">review this movie</a>
    <p class="movie-additional-info">
      {{ movieData.Year }} • {{ movieData.Rated }} • {{ movieData.Runtime }} • {{ movieData.Genre }}
    </p>
    <p class="external-ratings">
      IMDb {{ movieData.imdbRating }}/10 • Metacritic {{ movieData.Metascore }}/100 • Rotten Tomatoes {{ movieData.Ratings[1].Value }}
    </p>
  
    <p class="movie-breakdown"><span class="breakdown-title">Director</span> {{ movieData.Director }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Writer</span> {{ movieData.Writer }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Actors</span> {{ movieData.Actors }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Plot</span> {{ movieData.Plot }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Language</span> {{ movieData.Language }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Awards</span> {{ movieData.Awards }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Box Office Gross</span> {{ movieData.BoxOffice }}</p>
    <p class="movie-breakdown"><span class="breakdown-title">Production Company</span> {{ movieData.Production }}</p>
  </div>
</div>
