<div class="reviews">
  <div #stars class="stars clickable" (click)="openMovieInfo()">
    <ion-icon src="/assets/icon/star-outline.svg" class="star"></ion-icon>
    <ion-icon src="/assets/icon/star-outline.svg" class="star"></ion-icon>
    <ion-icon src="/assets/icon/star-outline.svg" class="star"></ion-icon>
    <ion-icon src="/assets/icon/star-outline.svg" class="star"></ion-icon>
    <ion-icon src="/assets/icon/star-outline.svg" class="star"></ion-icon>
  </div>
  <p class="review-count clickable" (click)="openReviewModal()">{{ reviewCount }}</p>
</div>
